<h1>Editar la configuración del dispositivo</h1>

<font color="red">El dispositivo se reiniciará tras aplicar los cambios.</font>

<%= render 'form' %>

<%= link_to 'Back', a_serverconfigurations_path %>
