<div class="text-center">

<p>Hola <%= @resource.email %></p>

<p>Alguien ha solicitado restablecer su contraseña. Puede levar a cabo el procedimiento pulsando sobre el siguiente botón.</p>

<p><%= link_to 'Cambiar Contraseña', edit_password_url(@resource, reset_password_token: @token) , class: 'btn btn-warning' %></p>

<p>Si usted no ha sido quien ha solicitado el cambio puede ignorar este mensaje.</p>
<p>Su contraseña no cambiará hasta que no pulse el botón indicado.</p>

</div>