<div class="text-center">

<p>Hola <%= @resource.email %></p>

<p>Su cuenta ha sido bloqueada por haber llegado al límite intentos de acceso al sistema sin éxito.</p>

<p>Pulse el botón que encontrará a continuación para desbloquear su cuenta.</p>

<p><%= link_to 'Desbloquear mi Cuenta', unlock_url(@resource, unlock_token: @token) , class: 'btn btn-warning' %></p>

</div>