<div class="text-center">
	<h1><b>ACCESO AL SISTEMA</b></h1>
	<%= form_for(:sesion, url: '/inicio', html: {class: 'form-horizontal'}) do |f| %>
		
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 well">
		<br>
		<%= f.email_field :usuario, class: 'form-control' %>
		<br>
		<%= f.password_field :password, class: 'form-control' %>
		<br>
		<%= f.submit "Enviar", class: 'btn btn-default' %>
	</div>

	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

	<% end %>
</div>

