<div class="text-center">
	<h2 style="margin-bottom: 50px;"><b>Información</b></h2>

	<div style="margin-top: 50px;">
		<%= link_to "Volver a Inicio", root_url, {class: 'btn btn-default'}%>
	</div>
</div>